<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>
        AngularJS Learning
    </title>
    <script src="../libs/angular/js/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body>
    <div ng-controller='myBookCtrl'>
        <div ng-controller='angularBookCtrl'>
            <button ng-click='showBook()'>Show Angular Book</button>
        </div>
        <div ng-controller='emberBookCtrl'>
            <button ng-click='showBook()'>Show Ember Book</button>
        </div>
    </div>
</body>
</html>